.intro {
  height: 100%;
  width: 100vw;
  background-image: url('/intro.png');
  background-size: cover;
}

.description p {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
}

.content::-webkit-scrollbar {
  width: 12px;
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-form-item-required span, p {
  padding-left: 12px;
}

.ant-form-item-required::before {
  position: absolute;
  top: 6px;
}
